.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	max-width: fit-content;
	padding: 9px 16px;
	border-radius: 34px;
	font-family: var(--font-heading);
	font-weight: 500;
	font-size: 14px;
	color: var(--color-white);
	text-transform: capitalize;
	white-space: nowrap;
	cursor: pointer;
	transition: filter 250ms ease, box-shadow 250ms ease;
}

.primary {
	background-color: var(--color-primary);
	&:hover,
	&:focus {
		filter: brightness(1.15);
		box-shadow: 0 0 16px rgba(98, 25, 157, 0.6);
	}
}

.secondary {
	background-color: var(--color-secondary-btn);
	&:hover,
	&:focus {
		filter: brightness(1.4);
	}
}

.large {
	padding: 13px 16px;
}
