.form {
	display: flex;
	flex-direction: column;
	background-color: var(--color-surface);
	border: 1px solid var(--color-black);
	border-radius: 24px;
	padding: 60px 40px;
	gap: 24px;
	font-family: var(--font-body);

	width: 100%;
	max-width: 536px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: column;
	gap: 24px;
	@media screen and (min-width: 1140px) {
		flex-direction: row;
		gap: 16px;
	}
}

.flex1 {
	flex: 1;
}
.labelText {
	font-size: 14px;
	color: var(--color-white);
	margin-bottom: 4px;
}

.input {
	width: 100%;
	border: none;
	font-size: 14px;
	border-radius: 12px;
	padding: 12px 16px;
	background: var(--color-surface-alt);
	color: var(--color-white);
}

.error {
	color: #ff6b6b;
	font-size: 0.8rem;
}

.inputWrap {
	position: relative;
}

.eye {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 16px;
	user-select: none;
}

.labelWithIcon {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.checkboxWrap {
	position: relative;
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	user-select: none;
}

.checkboxInput {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
}

.customCheckbox {
	width: 16px;
	min-width: 16px;
	height: 16px;
	border: 1px solid var(--color-grey);
	border-radius: 4px;
	position: relative;
}
.checkboxInput:checked + .customCheckbox {
	background-color: var(--color-primary);
	border: none;
}
.checkboxInput:checked + .customCheckbox::after {
	content: '✔';
	position: absolute;
	left: 13%;
	top: 12%;
	font-size: 14px;
	line-height: 100%;
	color: var(--color-white);
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 13px 16px;
	color: var(--color-white);
	background-color: var(--color-primary);
	font-family: var(--font-heading);
	font-weight: 500;
	text-transform: capitalize;
	border-radius: 34px;
	cursor: pointer;
	transition: filter 250ms ease, box-shadow 250ms ease;
	&:focus,
	&:hover {
		filter: brightness(1.15);
		box-shadow: 0 0 16px rgba(98, 25, 157, 0.6);
	}
}
